
<div class="main">
    <div class="line-top"></div>        
    <app-nav></app-nav>
    <div class="side">
        <div class="line"></div>
        <p>#include</p>
    </div>
    <div class="circle-top"></div>
    <div class="circle-btm"></div>
    <div class="center">
        <div class="corner-1"></div>
        <div class="corner-2"></div>
        <div class="corner-3"></div>
        <div class="corner-4"></div>
        <h1>Welcome to <span class="grad">Desk</span></h1>
    </div>
    <div class="selection">
        <button mat-button class="btun">Teacher</button><button mat-button class="btun sec">Student</button>
    </div>
   
</div>