<section class="main">
    <app-nav></app-nav>
    <div class="circle-top"></div>
    <div class="circle-btm"></div>
    <div class="headline">
        <h1>Class Details</h1>
        
    </div>

    <div class="container">
        <div class="detail">
            <h2>
                Cycle Test 2
                <span>24 Submissions</span>
            </h2>
        </div>

        <div class="detail">
            <h2>
                Cycle Test 2
                <span>24 Submissions</span>
            </h2>
        </div>
    </div>
</section>