<section class="main">
    <app-nav></app-nav>
    <div class="circle-top"></div>
    <div class="circle-btm"></div>
    <div class="headline">
        <h1>Teacher's Arena</h1>
    </div>
    <div class="cards">
        <div class="container">
            <div class="row">
                <div routerLink="/lazy/createtest"   class="col">
                    <h2 >Create Forms</h2>
                </div>
                <div class="col">
                    <h2>Analysis</h2>
                </div>
                <div routerLink="/teacherClasses" class="col">
                    <h2>Classes</h2>
                </div>
                <div class="col">
                    <h2>Records</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="updates">
            <h2><i class="fas fa-bell"></i>Updates</h2>
            <hr>
        </div>
    </div>

</section>

