<div class="main">
    <app-nav></app-nav>
    <div class="circle-top"></div>
    <div class="circle-btm"></div>
    <div class="headline">
        <h1>Instructions</h1>
    </div>
    <div class="container">
        <div class="instructions">
            <ul>
                <li>The test will be fully proctored please allow the webcam access if asked.</li>
                <li>Any changing of tabs would lead to closure of the test.</li>
                <li>Full Screen mode is nececery for giving the test.</li>
            </ul>
        </div>
        <div class="row">
            <div class="col one">
                <h1>Max. Marks: </h1>
            </div>
            <div class="col two">
                <h1>Time: </h1>
            </div>
            <div class="col three">
                <h1>Start Test</h1>
            </div>
        </div>
    </div>
   
</div>
