<div class="main">
    <app-nav></app-nav>
    <div class="circle-top"></div>
    <div class="circle-btm"></div>
    <div class="side">
        <div class="line"></div>
        <p>#include</p>
    </div>
    <div class="headline">
        <h1>Student Login</h1>
    </div>
    <div class="form-main">
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <form class="form">
                        <mat-form-field class="field" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter your email.">
                        </mat-form-field>
                        <mat-form-field class="field" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter your password.">
                        </mat-form-field>
                        <button class="btun" mat-button>Submit</button>
                        <p>New here? <a routerLink="/register">Register</a></p>
                      </form>
                </div>
                <div class="col-5">
                    <img src="../../../assets/clip-girls-study-together 1.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
